@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);

    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue: hsla(256, 72%, 46%, 1);

    --Persian-blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
body {
    font-family: "Hanken Grotesk", sans-serif;
    background: var(--Pale-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
}

.container {
    background: var(--White);
    width: 400px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.result {
    background: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
    border-radius: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--Violet-blue), var(--Persian-blue));;
}

.circle h1 {
    color: var(--White);
    font-size: 2rem;
}

.circle p {
    color: var(--Light-lavender);
    font-size: 0.75rem;
}

.result .title {
    color: var(--Light-lavender);
}
.result b {
    color: var(--White);
    font-size: 1.2rem;
}

.result .footer {
    color: var(--Light-lavender);
    font-size: 0.65rem;
    text-align: center;
}

.summary {
    background-color: var(--White);
    border-radius: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
